In [10]:
# Dependencies and Setup
from datetime import datetime
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv 
#import requests
#import time

In [11]:
# File location (CSV)
sch_temperature = "Schwartau/temperature_schwartau.csv"
sch_humidity = "Schwartau/humidity_schwartau.csv"
sch_beeflow = "Schwartau/flow_schwartau.csv"
sch_hiveweight = "Schwartau/weight_schwartau.csv"
sch_temp = pd.read_csv(sch_temperature)
sch_humid = pd.read_csv(sch_humidity)
sch_flow = pd.read_csv(sch_beeflow)
sch_weight = pd.read_csv(sch_hiveweight)
#sch_temp.head()
#sch_humid.head()
#sch_flow.head()
#sch_weight.head()

In [29]:
#separate timestamp into date and time for schwartau_temperature dataframe


sch_temp['Dates'] = pd.to_datetime(sch_temp['timestamp']).dt.date
sch_temp['Time'] = pd.to_datetime(sch_temp['timestamp']).dt.time
sch_temp.head()
sch_temp_new = sch_temp.drop(['timestamp', 'Time'], axis=1)
sch_temp_new.head()
sch_temp_df = sch_temp_new.set_index('Dates')
sch_temp_df.head()
sch_temp_edit = sch_temp_df.dropna(how='any')
sch_temp_final = round(sch_temp_edit.groupby('Dates').mean(),1)
sch_temp_final.head()

            temperature
Dates
2017-01-01         15.5
2017-01-02         13.4
2017-01-03         16.2
2017-01-04         14.7
2017-01-05          9.1

In [30]:
#separate timestamp into date and time for schwartau_humidity dataframe


sch_humid['Dates'] = pd.to_datetime(sch_humid['timestamp']).dt.date
sch_humid['Time'] = pd.to_datetime(sch_humid['timestamp']).dt.time
sch_humid.head()
sch_humid_new = sch_humid.drop(['timestamp', 'Time'], axis=1)
sch_humid_new.head()
sch_humid_df = sch_humid_new.set_index('Dates')
sch_humid_df.head()
sch_humid_edit = sch_humid_df.dropna(how='any')
sch_humid_final = round(sch_humid_edit.groupby('Dates').mean(),1)
sch_humid_final.head()

            humidity
Dates
2017-01-01      98.0
2017-01-02      98.8
2017-01-03      98.4
2017-01-04      97.3
2017-01-05      96.6

In [31]:
#separate timestamp into date and time for schwartau_weight dataframe


sch_weight['Dates'] = pd.to_datetime(sch_weight['timestamp']).dt.date
sch_weight['Time'] = pd.to_datetime(sch_weight['timestamp']).dt.time
sch_weight.head()
sch_weight_new = sch_weight.drop(['timestamp', 'Time'], axis=1)
sch_weight_new.head()
sch_weight_df = sch_weight_new.set_index('Dates')
sch_weight_df.head()
sch_weight_edit = sch_weight_df.dropna(how='any')
sch_weight_final = round(sch_weight_edit.groupby('Dates').mean(),1)
sch_weight_final.head()

             weight
Dates
2017-01-01  50736.8
2017-01-02  50657.8
2017-01-03  50769.8
2017-01-04  50532.6
2017-01-05  50109.8

In [33]:
#separate timestamp into date and time for schwartau_flow dataframe


sch_flow['Dates'] = pd.to_datetime(sch_flow['timestamp']).dt.date
sch_flow['Time'] = pd.to_datetime(sch_flow['timestamp']).dt.time
sch_flow.head()
sch_flow_new = sch_flow.drop(['timestamp', 'Time'], axis=1)
sch_flow_new.head()
sch_flow_df = sch_flow_new.set_index('Dates')
sch_flow_df.head()
sch_flow_edit = sch_flow_df.dropna(how='any')
sch_flow_final = round(sch_flow_edit.groupby('Dates').sum(),1)
sch_flow_final.head()

            flow
Dates
2017-01-01    -5
2017-01-02   -22
2017-01-03   -30
2017-01-04   -28
2017-01-05   -11

In [38]:
#Merging the four dataframes based on Dates

sch_df1 = sch_temp_final.merge(sch_humid_final, on='Dates', how='inner')
sch_df1.head()
sch_df2 = sch_df1.merge(sch_weight_final, on='Dates', how='inner')
sch_df2.head()
sch_overall = sch_df2.merge(sch_flow_final, on='Dates', how='inner')
sch_overall.head()

            temperature  humidity   weight  flow
Dates
2017-01-01         15.5      98.0  50736.8    -5
2017-01-02         13.4      98.8  50657.8   -22
2017-01-03         16.2      98.4  50769.8   -30
2017-01-04         14.7      97.3  50532.6   -28
2017-01-05          9.1      96.6  50109.8   -11